body {
    padding: 2em;
    background-color: #fdfdfd;
    color: #1A1A1A;
    font-family: 'Ubuntu', sans-serif;
}

h2, h2, h3 {
    font-weight: 400;
}

.projectdesc {
    display: none;
}

.projectdesc:target {
    display: block;
    width: 100%;
    max-width: 800px;
    margin-left: 3em;
    margin-right: 2em;
}

nav ul {
    list-style-type: none;
    padding: 0;
    background: #2F6CA8;
    box-shadow: 3px 3px 5px #d1d1d1;
}

nav {
    display: block;
}

nav h2 {
    margin-top: 2em;
    margin-bottom: 0.5em;
}

nav h3 {
    margin-top: 1em;
    margin-bottom: 0.5em;
}

a {
    color: #2F6CA8;
}

a:visited {
    color: #575191;
}

nav ul li:hover {
    background-color: #2D6196;
    border-color: #2D6196;
}

nav ul a {
    text-decoration: none;
    color: #FCFFF5;
    display: block;
    padding: 1em;
    border-bottom: 1px dashed #fdfdfd;
}

nav ul li:last-child a {
    border-bottom: none;
}

nav ul a:active {
    color: #ededed;
}

nav ul a:visited {
    color: white;
}

main {
    display: -moz-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    max-width: 100%;
}

.summary {
    font-size: 1.1em;
    font-family: 'PT Serif', serif;
}

a img {
    display: none;
    border: 4px solid black;
    margin-bottom: 1em;
    max-width: 100%;
    height: auto;
}

.projectdesc:target a img {
    display: block;
}

select {
    display: none;
    margin-top: 1em;
}

@media (max-width: 600px) {
    select {
        display: block;
    }
    nav h2, nav ul {
        display: none;
    }
    main {
        display: block;
    }
    .projectdesc:target {
        margin: 0;
    }
}

:target {
    -webkit-animation: fade-in 1s 1;
    -moz-animation: fade-in 1s 1;
    animation: fade-in 1s 1;
}

@-webkit-keyframes fade-in {
    0% { opacity: 0;  }
    100% { opacity: 1; }
}
@-moz-keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fade-in {
    0% { opacity: 0;  }
    100% { opacity: 1; }
}