html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.4;
    word-wrap: break-word;
    hyphens: auto;
    text-rendering: optimizeLegibility;
    color: #363636;
}

@font-face {
    font-family: 'Denise';
    src: url('subset-Denise.woff2') format('woff2'),
        url('subset-Denise.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

a[href^='mailto\:']::before {
  content: '📧 ';
}

main {
    padding-top: 0.5rem;
    max-width: 800px;
    padding-left: 1em;
    padding-right: 1em;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 3rem;
    border-bottom: 1px solid #BFBFBF;
    box-shadow: 2px 2px 5px grey;
}

#projects {
    padding-bottom: 4em;
    margin: auto;
    max-width: 1800px;
    padding-left: 1rem;
    padding-right: 1rem;
}   

#projects div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
}

h1 {
    font-family: Denise, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.8rem;
    margin-left: 1rem;
}

h1, h2, h3 {
    font-weight: 400;
}

a {
    text-decoration: none;
    color: #0076d1;
}

a:hover {
    text-decoration: underline;
}

img {
    max-width: 95%;
    width: 800px;
}

.lefticon {
    width: 64px;
    float: left;
    padding: 0.5em;
}

@media only screen and (max-width: 600px) {
    #projects div {
        display: block;
    }
}